{% for container in docker_autobackup_containers %}

# {{ container.name }}
{% for volume in container.volumes %}
docker run --rm --volumes-from {{ container.name }} -v {{ docker_backups_dir }}/{{ container.name }}:/backup ubuntu tar cvfz /backup/{{ volume | replace('/', '-') }}.tar.gz {{ volume }}
{% endfor %}
{% endfor %}
